<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faves and Hates</title>
</head>
<body>
    <h1>Faves and Hates</h1>
    <%- body %> 
</body>
</html>